@import "../../../Utils/vars";

.inputBox {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  background: $gray-3;
  gap: 8px;
  input {
    width: 400px;
    border-radius: 6px;
    background: $gray-3;
    outline: none;
    color: $gray-5;
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
  }
}
