.CreditsBox {
  display: flex;
  gap: 12px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #353c53;
  color: #fff;
  img {
    padding: 6px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
  }
  h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.8;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
