.menuContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  height: 20px;
  opacity: 0.8;
  color: var(--Black-100, #fff);
  margin-bottom: 4px;
  img {
    width: 20px;
    height: 20px;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.menuContainer:hover,
.active {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}
