// All color vars
$white: #fff;
$gray-3: #f2f2f2;
$gray-4: #e6e6e6;
$gray-5: #808080;
$gray-30: #4d4d4d;
$gray-7: #353c53;
$black-2: #1a181e;
$boreder-1: #d9d9d9;
$sidebar-bg: #1e2640;

$spacing8: 8px;
