@import "../../Utils/vars";

.sideBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .sideBar {
    background-color: $sidebar-bg;
    height: 100%;
    margin: 1rem 10px;
  }
}
