@import "../../Utils/vars";


.container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 12px 32px;
  background: $white;

  div > h2 {
    font-size: 15px;
    font-weight: 400;
    color: $black-2;
    line-height: 22px;
  }
  div > span {
    color: $gray-30;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
